@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
    src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
        url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
        url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.nav-container {
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin: auto;
}
.leftbar, .rightbar {
    display: flex;
}
.country {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
}
.country img, .myplans img {
    margin-right: 10px;
}
.city {
    display: flex;
    cursor: pointer;
} 
.earnwithus, .careers {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
}
.myplans {
    display: flex;
    cursor: pointer;
    margin-right: 30px;
}
#drivezy-logo,  #myprofile {
    cursor: pointer;
}
#drivezy-logo {
    margin-left: 70px;
}

/* cart container */

.cart-items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 20px;
    max-width: 1400px;
    margin: 50px auto;
}

.cart-items-container img {
    width: 85%;
}

.cart-items-container > div {
    border: 1px solid #ced0d3;
    border-radius: 5px;
}

.cart-items-container > div:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.img-container {
    text-align: center;
    position: relative;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img {
    width: 75%;
}

.img-container > span {
    border: 1px solid #ced0d3;
    font-weight: bold;
    font-size: 19px;
    padding: 5px 25px;
    border-radius: 40px;
    position: absolute;
    top: 290px;
    right: 50px;
    background-color: white;

}

.cart-items-container hr {
    border: none;
    height: 1px;
    background-color: #ced0d3;
}

.item-info {
    padding: 20px;
    padding-bottom: 0;
    border-bottom: 1px solid #ced0d3;
}

.item-info h2 {
    margin: 0;
}

.img-desc {
    display: flex;
    justify-content: space-between;
}

.img-desc p {
    color: #545454;
}

.delete-container {
    text-align: center;
    cursor: pointer;
}

.delete-container h3 {
    margin: 15px;
    color: red;
}

.checkout-footer {
    display: flex;
    padding: 10px 50px;
    justify-content: center;
    gap: 70px;
    max-width: 1300px;
    margin: auto;
    align-items: center;
    box-shadow: rgb(0 0 0 / 35%) 0px 0px 8px 0px;
    border-radius: 10px;
}

.right-footer button {
    width: 300px;
    height: 50px;
    border: 1px solid #41bca6;
    background-color: #41bca6;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.empty-container {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    width: 1300px;
    margin: auto;
}

.empty-container img {
    width: 150px;
    margin: 30px;
    margin-bottom: 0;
}

.empty-container h3 {
    font-size: 25px;
    margin-bottom: 0;
}

.empty-container p {
    color: #545454;
}

.empty-container button {
    height: 50px;
    width: 150px;
    border-radius: 5px;
    border: none;
    background-color: #41bca6;
    color: white;
    font-weight: bold;
    margin: 30px;
    margin-bottom: 50px;
}