@font-face {
    font-family: "proxima_nova_rgregular";
    src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot");
    src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff")
        format("woff"),
      url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf")
        format("truetype"),
      url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "proxima_nova_rgbold";
    src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot");
    src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff")
        format("woff"),
      url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf")
        format("truetype"),
      url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "adelle_rgregular";
    src: url("https://litmus.com/fonts/Emails/adelle_reg-webfont.eot");
    src: url("https://litmus.com/fonts/Emails/adelle_reg-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("https://litmus.com/fonts/Emails/adelle_reg-webfont.woff")
        format("woff"),
      url("https://litmus.com/fonts/Emails/adelle_reg-webfont.ttf")
        format("truetype"),
      url("https://litmus.com/fonts/Emails/adelle_reg-webfont.svg#adelle_rgregular")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }
/* navbar */
body {
    max-width: 1600px;
    margin: auto;
    margin-top: 10px;
    color: #1f2d3d;
    font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
}
.container {
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.leftbar, .rightbar {
    display: flex;
}
.shade_big{
    font-size: 100px;
    color: #d2d0d02f;
    position: relative;
    top: 75px;
    font-weight: 600;
    left: -20px;
}
#spBoldhead{
    font-weight: bold;
    color: #f15d61;
}
.country {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
}
.country img, .myplans img {
    margin-right: 10px;
}
.city {
    display: flex;
    cursor: pointer;
} 
.earnwithus, .careers {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
}
.myplans {
    display: flex;
    cursor: pointer;
    margin-right: 30px;
}
#drivezy-logo,  #myprofile {
    cursor: pointer;
}
#drivezy-logo {
    margin-left: 70px;
}

/* fixed bar section */ 
.fixed {
    width: 1500px;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #f15d61;
    color: white;
    display: block;
}
.fixed h4 {
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.5px;
}
.cancelBtn {
    color: #fff;
    cursor: pointer;
    font-weight: bolder;
}
 /* earn pop */ 
 .earn-pop {
    width: 392px;
    height: 108;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    margin-left: 700px;
    margin-top: -10px;
    display: none;
    background-color: white;
 }
 .share-business, .list-vehicle {
    display: flex;
    cursor: pointer;
 }
 .share-business:hover, .list-vehicle:hover {
    background-color: rgba(221,226,232,.5);
 }
 .share-business i, .list-vehicle i {
    margin-top: 18px;
    margin-right: 25px;
    padding-left: 15px;
 }
 .closeEarnPop {
    margin-left: 359px;
    cursor: pointer;
 }

 /* careers pop */ 
 .careers-pop {
    width: 148px;
    height: 155px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    margin-left: 1050px;
    margin-top: -10px;
    display: none;
    padding-bottom: 25px;
    background-color: white;
 }
 .jobs, .people, .culture {
    display: flex;
    cursor: pointer;
 }
 .jobs:hover, .people:hover, .culture:hover {
    background-color: rgba(221,226,232,.5);
 }
 .jobs i, .people i, .culture i {
    margin-top: 20px;
    margin-right: 25px;
    padding-left: 15px;
 }
 .closeCareerPop {
    margin-left: 120px;
    cursor: pointer;
 }

 /* login pop */
 .login-pop {
    width: 209px;
    height: 360px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    margin-left: 1250px;
    display: none;
    padding-bottom: 25px;
    background-color: white;
 }
 .myprofile, .mywallet, .mybookings,
 .mycodrivers, .mybank, .changepass, .logout {
    display: flex;
    cursor: pointer;
 }
 .myprofile:hover, .mywallet:hover, .mybookings:hover,
 .mycodrivers:hover, .mybank:hover,
  .changepass:hover, .logout:hover {
    background-color: rgba(221,226,232,.5);
 }
 .closeLoginPop {
    margin-left: 180px;
    cursor: pointer;
 }
 .myprofile i, .mywallet i, .mybookings i,
 .mycodrivers i, .mybank i, .changepass i, .logout i {
    margin-top: 18px;
    margin-right: 25px;
    padding-left: 15px;
 }
/* footer */
.footer {
    background-color: #dde2e8;
    padding: 80px;
    padding-top: 60px;
}
ul {
    list-style: none;
    margin-left: -50px;
}
.headline > h2 {
    margin-bottom: 40px;
}
.footer p {
    color: #77899b;
}
ul > li {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    color: #77899b;
}
.riding > li:hover {
    color: black;
}

/* support-section */
.support-section {
    background-color: #1C2736;
    padding: 80px;
    color: #77899b;
}
.support-section-top {
    display: flex;
    justify-content: space-between;
}
.mail, .phone {
    display: flex;
    margin-bottom: 20px;
}
.mail img, .phone img {
    margin-right: 7px;
   
}
#support-section-logo {
    margin-left: -15px;
    margin-bottom: 20px;
}
.social-media img:first-child {
    margin-right: 15px;
}
.rightpart {
    display: flex;
}

.company, .policies, .quick-links {
    display: flex;
    flex-direction: column;
}
.company-dropdown, .policy-dropdown, .quick-links-dropdown {
    display: flex;
    flex-direction: column;
}

.company > h5, .policies > h5, .quick-links > h5 {
    font-size: 16px;
    color: white;
    margin-left: 20px;
}
.company-dropdown > li, .policy-dropdown> li, .quick-links-dropdown > li{
    margin: 8px 30px;
}
.company-dropdown > li:hover, .policy-dropdown> li:hover, .quick-links-dropdown:hover > li {
    color: white;
}
.support-section-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    cursor: pointer;
}
.twitter img:nth-child(2) {
    margin: 0 20px;
}
.twitter img:nth-child(3) {
    margin-right: 50px;
}
/* why choose drivezy section */
.choose-drivezy {
    padding: 80px;
}
.choose-options img {
    width: 80px;
}
.choose-options {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    padding: 30px;
    padding-left: 100px;
}
/* just-connect section */
.just-connect {
    display: flex;
    margin-left: 40px;
}

.rightside {
    padding: 30px;
    margin-top: 100px;
}
.rightside h4 {
    color:#77899b;
}
.knowmoreBtn {
    background-color: #41b6ac;
    padding: 10px 20px;
    color: #fff;
    border: 1px solid #009688;
    height: 49px;
    border-radius: 6px;
    font-size: 14px;
    letter-spacing: .04em;
    margin-top: 20px;
    cursor: pointer;
}
.knowmoreBtn:hover {
    box-shadow: 0 2px 8px -2px rgb(31 45 61 / 60%);
}

/* airport ride section */
.airport-rides {
    display: flex;
    margin-top: 200px;
    justify-content: space-between;
    padding-left: 80px;
    margin-bottom: 100px;
    background-image: url("https://jtride-data.s3.ap-south-1.amazonaws.com/uploads/1565174705_plane.png");
    background-repeat: no-repeat;
    background-size: 400px 150px;
    background-position: center;
    background-position-x: 400px;
    background: rgb(255,255,255);
background: linear-gradient(135deg, rgba(255,255,255,1) 35%, rgba(241,243,245,1) 100%);

}

#phone {
    width: 220px;
    margin-right: 200px;
    margin-top: 200px;
}
.left-side {
   margin-top: 300px;
}

/* slider-section */ 
.slider-section {
    position: relative;
    width: 1200px;
    height: 200px;
    margin: auto;
    margin-top: 100px;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    background-color: rgba(221,226,232,.33);
}

.slider-section > h4 {
    text-align: center;
    padding-top: 40px;
}
.slider-section1 {
    display: flex;
    justify-content: space-around;
}
.slider-section img {
 margin-left: 50px;
 margin-top: 30px; 
 cursor: pointer;
 width: 100px;  
}
.arrow {
    cursor: pointer;
    position: absolute;
    top: 45%;
    color: #009688;
    background-color: white;
    padding: 3px 10px;
    border: 1px solid #009688;
    border-radius: 50%;
    font-weight: bold;
}
.next {
    right: -18px;
}
.prev {
    left: -18px;
}
.arrow:hover {
    background-color: #009688;
    color: white;
}

/* main-searching-section */
.main-section {
    display: flex;
    margin-left: 90px;
    margin-top: 80px;
    flex-direction: column;
}
.heading {
    display: flex;
    justify-content: space-between;
    margin-top: -60px;
}
.heading h1 {
    font-size: 28px;
    letter-spacing: 1px;
    color: #1f2d3d;
    font-weight: 500;
}
.heading .leftside-main {
    margin-top: 60px;
}
.heading img {
    width: 800px;
    height: 1000px;
    margin-bottom: 300px;
    border-top-left-radius: 100px;
    margin-right: 20px;;
}
.rent-vehicle {
    width: 172px;
    height: 69px;
    display: flex;
    border: 1px solid #f15d61;
    background-color:#f15d61;
    color: white;
    font-size: bold;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: -1000px;
}
.rent-vehicle img {
    width: 20px;
    height: 20px;
    padding-left: 30px;
    padding-top: 15px;
    margin-right: 10px;
}
.main-search-bar {
    width: 1000px;
    height: 123px;
    border-radius: 20px;
    margin-top: -15px;
    background-color: #fff;
    box-shadow: 0 2px 16px -6px rgb(31 45 61 / 48%);
}
.choose-vehicle {
    display: flex;
    padding-left: 30px;
}
#car {
    width: 75px;
    height: 39px;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    cursor: pointer;
}
#bike {
    width: 55px;
    height: 37px;
    padding-bottom: 5px;
    padding-left: 15px;
    border-left: 1px solid #77899b;
    cursor: pointer;
}
.vehicle-type {
    width: 211px;
    height: 54px;
    border: 1px solid #77899b;
    margin-top: -20px;
    border-radius: 10px;
}
.vehicle-type:hover {
    box-shadow: 0 2px 8px -2px rgb(31 45 61 / 40%);
} 
.search-location {
    padding-left: 20px;
}
.search-location > select {
    padding: 20px;
    margin-top: -5px;
    width: 500px;
    border: 1px solid #77899b;
    border-radius: 10px;
}
.searchBtn {
    margin-left: 20px;
    width: 173px;
    height:54px;
    margin-top: 46px;
    border: none;
    background-color:#41b6ac;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
}


/* my offers section */ 
.offers {
    margin-left: 100px;
    margin-top: 120px;
}

/* city modal section */
.city-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.city-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    width: 70%;
    border-radius: 20px;
}
.closeBtn {
    color:#1f2d3d;
    float: right;
    font-size: 30px;
    margin-top: -70px;
}
.closeBtn:hover, .closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.city-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-left: 20px;
}
.city-grid img {
    width: 97px;
    height: 97px;
}
.city-grid p {
    margin-left: 20px;
}

#bengaluruBtn {
    color: #fff;
    display: block;
    background-color: #41b6ac;
    border: 1px solid #41b6ac;
    padding: 12px 15px;
    border-radius: 5px;
    margin-left: -5px;
}
.city-item button {
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: none;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
}
/* #text-shadow {
    position: relative;
    top: 34px;
    right: 22px;
    opacity: .24;
    color: #dde2e8;
    font-size: 100px;
    font-weight: 700;
    line-height: 40px;
} */
/* login signup page */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modalcontent {
    border-radius: 10px;
    background-color: #fefefe;
    margin: auto;
    padding: 2px 32px 2px 32px;
    border: 1px solid #888;
    width: 25%;
  }

  .description {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #77899b;
    font-size: 14px;
    line-height: 16px;
  }

  #proceed {
    z-index: 1;
    color: #fff;
    border: 1px solid #41b6ac !important;
    border-radius: 6px;
    background: #41b6ac !important;
    width: 100%;
    border-radius: 6px;
    padding: 15px;
  }
  #proceed:hover{
    background-color: #27716b;
    cursor: pointer;
    box-shadow: 0 2px 8px -2px rgb(31 45 61 / 60%);
  }
  .modalheader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: inherit;
    letter-spacing: -0.008em;
    margin: 24px 0 16px;
    line-height: 16px;
    color: #1f2d3d;
    font-size: 20px;
    font-weight: 500;
  }

  .modalbody {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .input-label {
    color: #1f2d3d;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    margin-bottom: 8px;
    display: block;
  }

  .input-box {
    height: 48px;
    border: 1px solid #b8c1cb;
    border-radius: 6px;
    background-color: #fff;
    padding: 0 8px;
    font-size: 16px;
    color: #2b3a51;
    width: 94%;
  }
  .button_section {
    margin-top: 34px;
  }

  .center-text {
    width: 38%;
    margin: auto;
    margin-top: 40px;
    font-size: 16px;
    line-height: 20px;
    display: flex;
  }
  .center-text .or {
    position: relative;
    top: -10px;
    background: #fff;
    padding: 0 11px;
    color: #b8c1cb;
  }
  .line {
    width: 44px;
    border-top: 1px solid #b8c1cb;
  }
  .social-login {
    display: flex;
    justify-content: space-between;
    margin: 22px 0;
    margin-bottom: 0px;
  }
  .social-button img {
    height: 30px;
    border-radius: 4px;
    box-shadow: 0 2px 8px -2px rgb(31 45 61 / 60%);
  }
  .input-label {
    margin-top: 20px;
  }

  .checkbox-container {
    position: relative;
    padding: 12px 16px;
    cursor: pointer;
    display: flex;
    flex: 1 1;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
  }

  .checkbox-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    margin-top: 20px;
    border: 1.8px solid #77899b;
  }
  #checkboxid {
    margin-top: 6px;
    visibility: hidden;
    cursor: pointer;
  }
  .marked {
    margin-top: 11px;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: lightgray;
  }

  .marked:hover {
    background-color: darkgray;
  }

  #checkboxid:checked ~ .marked {
    background-color: #41b6ac;
  }

  /* Create the mark/indicator (hidden when not checked) */
  .marked:after {
    content: "";
    position: absolute;
    display: none;
  }
  /* Show the mark when checked */
  #checkboxid:checked ~ .marked:after {
    display: block;
  }
  .marked:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  @media only screen and (min-width: 500px) and (max-width: 1050px) {
    /* navbar */

    .container {
        flex-direction: column;
        align-items: center;
    }

    /* earn with us pop */
    .earn-pop {
        margin-left: 10px;
    }

    /* careers pop */
    .careers-pop {
        margin-left: 420px;
    }

    /* login pop */ 
    .login-pop {
        margin-left: 580px
    }

    /* fixed bar section */ 
    .fixed {
        width: 1000px;
    }

    /* main searching section */
    .heading {
        flex-direction: column;
        align-items: center;
    }
    .main-search-bar {
        width: 800px
    }
    .search-location > select {
        width: 400px;
    }

    /* airport ride section */
    .airport-rides {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        position: absolute;
    }

    /* just-connect section */
    .just-connect {
        flex-direction: column;
        align-items: center;
    }

    /* slider-section */ 
    .slider-section {
        width: 800px;
    }

    /* why choose drivezy section */ 
    .choose-options {
        grid-template-columns: repeat(3, 1fr);
    }

    /* login sign up page */
    .social-login {
        align-items: center;
        flex-direction: column;
    }

  }