
@font-face {
    font-family: "proxima_nova_rgregular";
    src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot");
    src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff")
        format("woff"),
      url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf")
        format("truetype"),
      url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "proxima_nova_rgbold";
    src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot");
    src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff")
        format("woff"),
      url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf")
        format("truetype"),
      url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "adelle_rgregular";
    src: url("https://litmus.com/fonts/Emails/adelle_reg-webfont.eot");
    src: url("https://litmus.com/fonts/Emails/adelle_reg-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("https://litmus.com/fonts/Emails/adelle_reg-webfont.woff")
        format("woff"),
      url("https://litmus.com/fonts/Emails/adelle_reg-webfont.ttf")
        format("truetype"),
      url("https://litmus.com/fonts/Emails/adelle_reg-webfont.svg#adelle_rgregular")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }
  * {
    font-family: "proxima_nova_rgregular", Helvetica, Arial, sans-serif;
  }
  p{
    color: #888f9e;
  }
  div{
    display: block;
    
  }
  .main_div{
    margin-top: 40px;
    margin-bottom: 40px;
   
  }

  .airport_head{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .airport_head>div{
   
  }
  .con_left{
    padding: 5%;
   
  }
  .con_left>.header{
    font-size: 30px;
  }
  .con_left>p{
    color: #888f9e;
    font-size: 16px;
  }
  .con_left span{
    color: #009688;
    font-size: 20px;
    font-weight: bolder;
  }
  .con_left img{
    cursor: pointer;
    padding: 10px 0px;
    margin-right: 20px;
    width: 30%;
  }
  .con_left p:last-child{
    font-size: 14px;
  }
  .con_left p:last-child span:last-child{
    font-size: 14px;
    cursor: pointer;
  }
  
  .con_right{
    
  }
  .con_right>img{
    width: 100%;
    height: 100%;
  }
  .container_cost{
    text-align: center;
    width: 100%;
    
  }
  .container_cost>.top{
    width: 40%;
    display: flex;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 10px;
  }
  .con_top{
  
    padding: 5%;
    display: flex;
    width: 50%;
    justify-content: center;

  }
  
  .top .div_image{  
    margin-right: 20px;
  }
  .div_image+div{
  
   margin: auto 0;
  }
  .div_image+div p{
    margin: 0;
    font-size: 14px;
  }
  .div_image+div p:last-child{
    color: #ea6d71;
    font-weight: 600;
    font-size: 20px;
    margin: 0;
  }
  .container_cost>.bottom{
    margin-top: 50px;
  }
  .container_cost>.bottom p:first-child{
    font-weight: 400;
  }
  .container_cost>.bottom p:nth-child(2){
    color: black;
    
    
  }
  .container_cost>.bottom p:nth-child(3){
    color: black;
    font-size: 14px;
    
  }
  .container_ride{
    background: rgb(255,255,255);
background: linear-gradient(135deg, rgba(255,255,255,1) 35%, rgba(241,243,245,1) 100%);
margin-top: 100px;
  }
  .container_ride>.container{
    display: flex;
    margin: 0% 8%;
    justify-content: space-between;

  }
  .container>.left{
    width: 500px;
  }
  .container>.left>img{
    width: 500px;
  }
  .container>.right>div{
    
    margin: 50px;
    padding: 20px 30px;
    
  }
  
  .right li{
    color: #888f9e;
    padding: 10px;
    
  }
  .right h4{
    font-size: 24px;
    color: black;
    font-weight: 600;
    margin-left: 15px;
  }
  .container_pics{
      margin-top: 100px;
      padding: 10px;
  }
  .container_pics>.container{
    display: flex;
    width: 90%;
    margin: 60px 2% 0;
    justify-content: space-around;
  }
  .container_pics>.container>.con_ride{
    width: 300px;
    padding: 20px 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .con_ride> img{
    width: 300px;
  }
  .con_ride>h2{
    font-weight: 500;
  }
  .container_desc{
    text-align: center;

  }
  .container_desc> div{
      margin: 50px;
      color: #77899b;
  }



 /* navbar */
  
 .container {
  max-width: 1350px;
  display: flex;
  justify-content: space-between;
}
.leftbar, .rightbar {
  display: flex;
}
.country {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  cursor: pointer;
}
.country img, .myplans img {
  margin-right: 10px;
  
}
.city {
  display: flex;
  cursor: pointer;
} 
.earnwithus, .careers {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  cursor: pointer;
}
.myplans {
  display: flex;
  cursor: pointer;
  margin-right: 30px;
}
#drivezy-logo,  #myprofile {
  cursor: pointer;
}
#drivezy-logo {
  margin-left: 70px;
}
/* footer */
.footer {
  background-color: #dde2e8;
  padding: 80px;
  padding-top: 60px;
}
ul {
  list-style: none;
  margin-left: -50px;
}
.headline > h2 {
  margin-bottom: 40px;
}
.footer p {
  color: #77899b;
}
ul > li {
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  color: #77899b;
}
.riding > li:hover {
  color: black;
}

/* support-section */
.support-section {
  background-color: #1C2736;
  padding: 80px;
  color: #77899b;
}
.support-section-top {
  display: flex;
  justify-content: space-between;
}
.mail, .phone {
  display: flex;
  margin-bottom: 20px;
}
.mail img, .phone img {
  margin-right: 7px;
 
}
#support-section-logo {
  margin-left: -15px;
  margin-bottom: 20px;
}
.social-media img:first-child {
  margin-right: 15px;
}
.rightpart {
  display: flex;
}

.company, .policies, .quick-links {
  display: flex;
  flex-direction: column;
}
.company-dropdown, .policy-dropdown, .quick-links-dropdown {
  display: flex;
  flex-direction: column;
}

.company > h5, .policies > h5, .quick-links > h5 {
  font-size: 16px;
  color: white;
  margin-left: 20px;
}
.company-dropdown > li, .policy-dropdown> li, .quick-links-dropdown > li{
  margin: 8px 30px;
}
.support-section-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.twitter img:nth-child(2) {
  margin: 0 20px;
}
.twitter img:nth-child(3) {
  margin-right: 50px;
}
.border_left{
  border-left:1px solid rgb(219, 217, 215) ;
}


/* Media query */

@media screen and (min-width: 0px) and (max-width: 800px) {
  .container_cost>.top{
    width: 400px;
    display: block;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 10px;
  }
  .con_top{
  
    padding: 5%;
    display: flex;
    width: 50%;
    justify-content: center;
    margin: auto;
    border: none;
    
  }
  .border_left{
    border: none;
  }
  .container_ride>.container{
    display: block;
    margin: 0% 8%;
    justify-content: space-between;
    

  }
  .container_pics>.container{
    display: block;
    width: 90%;
    margin: 60px 2% 0;
    justify-content: space-around;

  }
  .container>.con_ride{
    display: block;
    margin-left: auto;
    margin-right: auto 
  }
  .airport_head{
    display: block;
    justify-content: space-between;
    width: 100%;
  }
}