
/* PROXIMA NOVA FONT*/
@font-face {
  font-family: proxima_nova;
  src: url(Proxima-Nova.bf9f5d50.ttf);
}
/* general*/
* {
  font-family: "proxima_nova";
}
/* top page header*/

  #div_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
  }
  
  #div_t1 {
    width: 30%;
    line-height: 20px;
    color: #666;
  }
  #div_t1 h1 {
    font-weight: 400;
    color: black;
  }
  #div_t1 p {
    font: weight 500;
    font-size: 16px;
    line-height: 0.7cm;
    color: #77899b;
  }
  .get_list_button {
    background-color: #41b6ac;
    padding: 15px 15%;
    border-radius: 8px;
    border: none;
    margin-top: 25px;
    color: white;
    font-size: 18px;
    
  }
  a{
    text-decoration: none;
  }
  .get_list_button:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
  }

  /* make my vehicle earn session*/
  #div_t2 {
    width: 55%;
  }
  #div_t2 img {
    width: 100%;
  }
  #div_2 {
    margin-top: 5%;
  }
  #div_2 > div:first-child {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #1f2d3d;
  }
  #container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1350px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    margin-top: 5%;
  }
  
  .border_right {
    border-right: 8px solid #dde2e8;
  }
  
  .border_right::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 4px solid #f15d61;
    position: relative;
    top: 50%;
    background: #fff;
    right: -98.9%;
  }
  .container_content {
    width: 100%;
    
  }
  .container_content > .inner_contents {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    border-radius: 10px;
    padding: 5% 5%;
    padding-bottom: 10%;
    margin: 3% 13%;
   
  }
  .inner_contents > .counts {
    font-size: 100px;
    font-weight: 600;
    color: #edf0f4;
  }
  .inner_contents > .caption_wrapper {
    position: relative;
  }
  .caption_wrapper > .caption {
    position: absolute;
    bottom: 22px;
    left: 0px;
    font-size: 20px;
    font-weight: 600;
  }
  .inner_contents > .content {
    font-size: 14px;
    color: #91989e;
    line-height: 25px;
  }
  .container_image {
    width: 100%;
  
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-content: space-around;
    align-content: center;
  }
  .container_image > .con_image {
    margin-top: 10%;
  }
  .con_image > .image {
    width: 40%;
  }

  /* just connect session*/
  .con_just_connect {
    margin-top: 10%;
    position: relative;
  }
  .con_just_connect::before {
    content: "JUST CONNECT";
    position: absolute;
    top: -7%;
    right: 50px;
    opacity: 0.24;
    left: 2%;
    color: #dde2e8;
    font-size: 100px;
    font-weight: 700;
    line-height: 40px;
    z-index: -1;
    background: none;
  }
  .con_just_connect > .header {
    font-size: 24px;
    color: #1f2d3d;
    font-weight: 600;
    margin-top: 10%;
    text-align: left;
    margin-left: 5%;
  }
  
  .just_connect {
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;

    
  }
  .just_connect > .container {
    width: 28%;
    padding: 25px 25px 10px;
    display: block;
    text-align: center;


  }
  
  .just_connect > .container > .js_head {
    line-height: 20px;
    color: #1f2d3d;
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
  }
  .just_connect > .container > .js_caption {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #77899b;
    font-size: 14px;
    line-height: 24px;
  }
  
  .get_list {
    margin: 3% 0;
    display: flex;
    justify-content: center;
  }
  .get_list_button {
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    padding: 12px 40px;
    border: 1px solid #41b6ac;
    border-radius: 6px;
    background-color: #41b6ac;
    padding: 12px 55px;
  }

  /* success story session*/
  .con_success_story {
    position: relative;
    background: linear-gradient(
      90deg,
      hsla(0, 0%, 100%, 0),
      rgba(222, 226, 232, 0.4)
    );
    display: block;
    padding: 3% 2%;
  }
  .con_success_story>.big_header{
    color: #eff2f68b;
    font-size: 100px;
    font-weight: 700;
    line-height: 40px;
    position: relative
    ;
  }
  .con_success_story > .header {
    text-align: left;
    color: #1f2d3d;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    margin-left: 60px;
    margin-top: -10px;


    

  }
  .con_success_story > .caption {
    font-weight: 400;
    margin-top: 2%;
    margin-bottom: 10px;
    color: #77899b;
    font-size: 16px;
    line-height: 24px;
    padding: 0 5%;
  }
  .slide_container{
    width: 100%;
    display: flex;
  

  }
  .slider_con{
    width: 90%;
    margin: auto;
 
  }
  
.mySlides>.slides{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    display: flex;
    background-color: white;
    width: 96%;
    padding: 30px;
  }
  .slide_container>.div_prev{
    width: 5%;
    position: relative;
  }
  .slide_container>.div_next{
    width: 5%;
    position: relative;
    
  }
  .div_prev>i{
   position: absolute;
   bottom: 30%;
   color: #41b6ac;
   cursor: pointer;
  }
  .div_next>i{
    position: absolute;
    bottom: 30%;
    left: 50%;
    color: #41b6ac;
    cursor: pointer;
   
   }
   .div_next>i:hover{
    color: #39d1c4;
    cursor: pointer;
   }
   .div_prev>i:hover{
    color: #39d1c4;
    cursor: pointer;
   }
  .slides>.card_image{
    width: 35%;
  }
  
  .card_image>img{
    width: 100%;
    border-radius: 0 20px 20px 0;
  }
  .slides>.card_details{
    width: 65%;
    margin: 0 50px;
   
  }
  .card_details>.header{
    font-weight: 600;
    font-size: 20px;
    margin: 10px 0;
  }
  .card_details>.caption{
    font-size: 14px;
    color: #77899b;
    margin: 30px 0;
    line-height: .6cm;
  }
  .card_details>.name_details{
    font-size: 15px;
    font-weight: 600;
    display: flex;
  }
  .name_details>span{
    color: #77899b;
    margin-left: 10px;
  }

  
  
  .slide_dots {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  .slide_dots .dots {
    width: 12px;
    margin: 4px;
    height: 12px;
    border-radius: 50%;
    background: #dde2e8;
    cursor: pointer;
  }
  .slide_dots .dots:hover {
    background: #838689;
    cursor: pointer;
  }
  .fa-chevron-left:before {
    content: "\f053";
  }
  .fa-quote-left {
    display: flex;
    color: #dde2e8;
    font-size: 50px;
  }
  .fa-quote-left:before {
    content: "\f10d";
  }
  
  .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

  /* MEDIA  SCREEN */
  @media screen and (min-width: 0px) and (max-width: 766px) {
    #container {
      grid-template-columns: repeat(1, 1fr);
    }
    #container > div:nth-child(2) {
      grid-area: 1/1/1/1;
    }
    #container > div:nth-child(6) {
      grid-area: 5/1/5/1;
    }
    .border_right {
      border: none;
    }
    .border_right::before {
      border: none;
    }
    .con_image > .image {
      width: 40%;
      position: relative;
    }
    .just_connect {
      display: block;
      justify-content: space-around;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 3%;
  
      
    }
    .just_connect > .container {
      width: 28%;
      padding: 25px 25px 10px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
  
  
    }
    #div_top {
      display: block;
      justify-content: space-between;
      align-items: center;
      margin-left: 5%;
    }

    #div_t2 {
      width: 100%;
    }
    #div_t1 {
      width: 100%;
      line-height: 20px;
      color: #666;
    }





          /* navbar */

          .container_nav {
            flex-direction: column;
            align-items: center;
        }
        /* login sign up page */
        .social-login {
          align-items: center;
          flex-direction: column;
      }
        /* earn with us pop */
        .earn-pop {
          margin-left: 10px;
      }

      /* careers pop */
      .careers-pop {
          margin-left: 420px;
      }

      /* login pop */ 
      .login-pop {
          margin-left: 580px
      }
      .heading {
        flex-direction: column;
        align-items: center;
    }
  }
 
  /* navbar */
body {
  max-width: 1600px;
  margin: auto;
  margin-top: 10px;
  color: #1f2d3d;
  font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
}
.container_nav {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.leftbar, .rightbar {
  display: flex;
}
.country {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  cursor: pointer;
}
.country img, .myplans img {
  margin-right: 10px;
  width: 30px;
}
.careers img, .earnwithus img, .city img{
  width: 30px;
}
.city {
  display: flex;
  cursor: pointer;
} 
.earnwithus, .careers {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  cursor: pointer;
}
.myplans {
  display: flex;
  cursor: pointer;
  margin-right: 30px;
}
#drivezy-logo,  #myprofile {
  cursor: pointer;
}
#drivezy-logo {
  margin-left: 70px;
}


 /* login pop */
 .login-pop {
  width: 209px;
  height: 360px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: absolute;
  margin-left: 1250px;
  display: none;
  padding-bottom: 25px;
  background-color: white;
}
.myprofile, .mywallet, .mybookings,
.mycodrivers, .mybank, .changepass, .logout {
  display: flex;
  cursor: pointer;
}
.myprofile:hover, .mywallet:hover, .mybookings:hover,
.mycodrivers:hover, .mybank:hover,
.changepass:hover, .logout:hover {
  background-color: rgba(221,226,232,.5);
}
.closeLoginPop {
  margin-left: 180px;
  cursor: pointer;
}
.myprofile i, .mywallet i, .mybookings i,
.mycodrivers i, .mybank i, .changepass i, .logout i {
  margin-top: 18px;
  margin-right: 25px;
  padding-left: 15px;
}
 /* careers pop */ 
 .careers-pop {
  width: 148px;
  height: 155px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: absolute;
  margin-left: 1050px;
  margin-top: -10px;
  display: none;
  padding-bottom: 25px;
  background-color: white;
}
.jobs, .people, .culture {
  display: flex;
  cursor: pointer;
}
.jobs:hover, .people:hover, .culture:hover {
  background-color: rgba(221,226,232,.5);
}
.jobs i, .people i, .culture i {
  margin-top: 20px;
  margin-right: 25px;
  padding-left: 15px;
}
.closeCareerPop {
  margin-left: 120px;
  cursor: pointer;
}
/* fixed bar section */ 
.fixed {
  width: 1500px;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #f15d61;
  color: white;
  display: block;
}
.fixed h4 {
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.5px;
}
.cancelBtn {
  color: #fff;
  cursor: pointer;
  font-weight: bolder;
}
/* earn pop */ 
.earn-pop {
  width: 392px;
  height: 108;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: absolute;
  margin-left: 700px;
  margin-top: -10px;
  display: none;
  background-color: white;
}
.share-business, .list-vehicle {
  display: flex;
  cursor: pointer;
}
.share-business:hover, .list-vehicle:hover {
  background-color: rgba(221,226,232,.5);
}
.share-business i, .list-vehicle i {
  margin-top: 18px;
  margin-right: 25px;
  padding-left: 15px;
}
.closeEarnPop {
  margin-left: 359px;
  cursor: pointer;
}


/* city modal section */
.city-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}
.city-content {
  background-color: white;
  margin: 5% auto;
  padding: 20px;
  width: 70%;
  border-radius: 20px;
}
.closeBtn {
  color:#1f2d3d;
  float: right;
  font-size: 30px;
  margin-top: -70px;
}
.closeBtn:hover, .closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.city-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-left: 20px;
}
.city-grid img {
  width: 97px;
  height: 97px;
}
.city-grid p {
  margin-left: 20px;
}

#bengaluruBtn {
  color: #fff;
  display: block;
  background-color: #41b6ac;
  border: 1px solid #41b6ac;
  padding: 12px 15px;
  border-radius: 5px;
  margin-left: -5px;
}
.city-item button {
  display: block;
  margin-left: 10px;
  margin-top: 10px;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: none;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
}
/* #text-shadow {
  position: relative;
  top: 34px;
  right: 22px;
  opacity: .24;
  color: #dde2e8;
  font-size: 100px;
  font-weight: 700;
  line-height: 40px;
} */
/* login signup page */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalcontent {
  border-radius: 10px;
  background-color: #fefefe;
  margin: auto;
  padding: 2px 32px 2px 32px;
  border: 1px solid #888;
  width: 25%;
}

.description {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #77899b;
  font-size: 14px;
  line-height: 16px;
}

#proceed {
  z-index: 1;
  color: #fff;
  border: 1px solid #41b6ac !important;
  border-radius: 6px;
  background: #41b6ac !important;
  width: 100%;
  border-radius: 6px;
  padding: 15px;
}
#proceed:hover{
  background-color: #27716b;
  cursor: pointer;
  box-shadow: 0 2px 8px -2px rgb(31 45 61 / 60%);
}
.modalheader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: inherit;
  letter-spacing: -0.008em;
  margin: 24px 0 16px;
  line-height: 16px;
  color: #1f2d3d;
  font-size: 20px;
  font-weight: 500;
}

.modalbody {
  margin-top: 20px;
  margin-bottom: 20px;
}
.input-label {
  color: #1f2d3d;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  margin-bottom: 8px;
  display: block;
}

.input-box {
  height: 48px;
  border: 1px solid #b8c1cb;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 8px;
  font-size: 16px;
  color: #2b3a51;
  width: 94%;
}
.button_section {
  margin-top: 34px;
}

.center-text {
  width: 38%;
  margin: auto;
  margin-top: 40px;
  font-size: 16px;
  line-height: 20px;
  display: flex;
}
.center-text .or {
  position: relative;
  top: -10px;
  background: #fff;
  padding: 0 11px;
  color: #b8c1cb;
}
.line {
  width: 44px;
  border-top: 1px solid #b8c1cb;
}
.social-login {
  display: flex;
  justify-content: space-between;
  margin: 22px 0;
  margin-bottom: 0px;
}
.social-button img {
  height: 30px;
  border-radius: 4px;
  box-shadow: 0 2px 8px -2px rgb(31 45 61 / 60%);
}
.input-label {
  margin-top: 20px;
}

.checkbox-container {
  position: relative;
  padding: 12px 16px;
  cursor: pointer;
  display: flex;
  flex: 1 1;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}

.checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  margin-top: 20px;
  border: 1.8px solid #77899b;
}
#checkboxid {
  margin-top: 6px;
  visibility: hidden;
  cursor: pointer;
}
.marked {
  margin-top: 11px;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: lightgray;
}

.marked:hover {
  background-color: darkgray;
}

#checkboxid:checked ~ .marked {
  background-color: #41b6ac;
}

/* Create the mark/indicator (hidden when not checked) */
.marked:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the mark when checked */
#checkboxid:checked ~ .marked:after {
  display: block;
}
.marked:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



/* footer */
.footer {
  background-color: #dde2e8;
  padding: 80px;
  padding-top: 60px;
}
ul {
  list-style: none;
  margin-left: -50px;
}
.headline > h2 {
  margin-bottom: 40px;
}
.footer p {
  color: #77899b;
}
ul > li {
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  color: #77899b;
}
.riding > li:hover {
  color: black;
}

/* support-section */
.support-section {
  background-color: #1C2736;
  padding: 80px;
  color: #77899b;
}
.support-section-top {
  display: flex;
  justify-content: space-between;
}
.mail, .phone {
  display: flex;
  margin-bottom: 20px;
}
.mail img, .phone img {
  margin-right: 7px;
 
}
#support-section-logo {
  margin-left: -15px;
  margin-bottom: 20px;
}
.social-media img:first-child {
  margin-right: 15px;
}
.rightpart {
  display: flex;
}

.company, .policies, .quick-links {
  display: flex;
  flex-direction: column;
}
.company-dropdown, .policy-dropdown, .quick-links-dropdown {
  display: flex;
  flex-direction: column;
}

.company > h5, .policies > h5, .quick-links > h5 {
  font-size: 16px;
  color: white;
  margin-left: 20px;
}
.company-dropdown > li, .policy-dropdown> li, .quick-links-dropdown > li{
  margin: 8px 30px;
}
.company-dropdown > li:hover, .policy-dropdown> li:hover, .quick-links-dropdown:hover > li {
  color: white;
}
.support-section-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  cursor: pointer;
}
.twitter img:nth-child(2) {
  margin: 0 20px;
}
.twitter img:nth-child(3) {
  margin-right: 50px;
}


